{% extends 'base.html.twig' %}

{% block header_title %}
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1>Bienvenue sur <strong class="app-name text-danger">Todo List</strong>, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="row justify-content-center text-center d-grid g-3">
        {% if is_granted('ROLE_USER') %}
            <div class="col">
                <a href="{{ path('task_create') }}" class="btn btn-success rounded-pill" role="button">Créer une nouvelle tâche</a>
            </div>
            <div class="col">
                <a href="{{ path('task_list') }}" class="btn btn-warning rounded-pill" role="button">Consulter la liste des tâches</a>
            </div>
        {% else %}
            <div class="col-lg-6">
                <p class="lead">Pour bénéficier des fonctionnalités ToDoList, veuillez vous connecter ou demander à l'administrateur de vous créer un compte.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
