@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Varela+Round&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
a.navbar-brand,
div.alert {
    font-family: 'Varela Round', sans-serif;
}

p,
a,
table,
button,
label
{
    font-family: 'Montserrat Alternates', sans-serif!important;
}


footer {
    background-color: #e3f2fd;
    position: sticky;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}
