$primary: darken(#428bca, 20%);
$secondary: #4ECDC4;
$danger: #ff6b6b;
$success: #A3F386;
$light: #f7fff7;
$dark: #292f36;
$info: #4ecdc4;
$warning: #ffe66d;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/bootstrap-utilities.scss";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/utilities";

@import "~bootstrap/scss/bootstrap.scss";
