{% extends 'base.html.twig' %}

{% block header_title %}<h1 class="text-center">Modifier <strong class="text-danger">{{ user.username }}</strong></h1>{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-6 ">
                <div class="card p-5 shadow-lg mb-5 border-0">
                    <div class="card-body mb-5">
                        {{ form_start(form, {'action' : path('user_edit', {'id' : user.id})}) }}
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-success rounded-pill mb-5">Modifier</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
